body{
    background: linear-gradient(140deg, rgb(104, 13, 104), rgb(249, 168, 248), #b49636 ,rgb(246, 230, 230),  rgb(187, 5, 181) );
    animation: gradient 10s ease infinite; 
    background-size: 400% 400%;
    width: 100%;
    height: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode';

    min-height  : 100vh;
    display: flex;
    flex-direction: column;
  }
  
  
  @keyframes gradient{
      0%{
          background-position: 0% 50%;
      }
      50%{
          background-position: 100% 50%;
      }
      100%{
          background-position: 0% 50%;
      }
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row;
  }
  
  .navbar a{
    color: #097969; /*cadmium green*/
    font-family: "Trebuchet MS";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    font-style: normal;
    text-decoration: none;
    padding: 5px;
  }
  
  a:hover{
    box-shadow: 0px 2px 0px #097969;
    color: #228B22;
  }

.header{
    
}
.container{
    background-color: white;
    display: inline-block;
    width: 50%;
    height: auto;
    border: 5px solid white;
    border-style: double;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.container input{
    width: 70%;
    height: 30px;
}
.submit{
    background-color: rgb(242, 74, 242);
    width: 35%;
    padding: 10px 10px 10px 10px;
    margin: 5px;
    border: 2px soild violet;
    border-radius: 5px;
    border-style: groove;

    /*Font settings*/
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    color: white;
}

.flex-box-container{
    display: flex;
    border: 2px solid white;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

    padding: 10px;
    height: 100%;
    width: 50%;
    border-style: double;
    border-radius: 10px;
  
}

.footer{
    background-color: rgba(29, 29, 29, 0.635);
    color: white;
    width: 100%;
    font-size: 15px;
    margin-top: auto;
    padding: 10px;

}

@media screen and (max-width: 600px) {
    .container, .flex-box-container{
      width: 80%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .submit{
        font-size: 16px;
        width: 35%;
    }
    .container input{
        width: 80%;
    }
    .container h1{
        font-size: 25px;
    }
    .footer{
        font-size: 12px;
    }
  }